[Unit]
Description=Mini ROS master unit
After=network.target

[Service]
Type=notify
WorkingDirectory=/var/run/miniroscore

Environment=ROS_MASTER_URI=http://localhost:11311

ExecStart=/usr/local/bin/miniroscore --dir=/var/run/miniroscore
TimeoutSec=10

[Install]
WantedBy=multi-user.target
